In [8]:
import shutil, os, re, pandas as pd, numpy as np, matplotlib.pyplot as plt
import glob
%matplotlib inline

In [3]:
id = [re.findall('\d+',i) for i in os.listdir(path='/Users/aneruthmohanasundaram/Documents/GitHub/Data-Analytics/Practical Session 3/cropped')]
# If we extract all directory name with findall we return it as list.
# then we convert it to a 1D array where we find the unique values of the list using set operation and appending to a dataframe.
flat_list = [j for i in id for j in i] 
df = pd.DataFrame(list(set(flat_list)), columns=["Subject_ID"])
df['COUNT'] = ''
df['HEART_RATE'] = ''
df['MOTION'] = ''
df['PSG'] = ''
df.head(30)

   Subject_ID COUNT HEART_RATE MOTION PSG
0     4426783
1     9106476
2     8686948
3     9961348
4     5132496
5     1449548
6     9618981
7     8173033
8     5498603
9     3509524
10    2638030
11    3997827
12    5797046
13    1066528
14    7749105
15    8692923
16     759667
17    1818471
18    4314139
19     844359
20    8258170
21    4018081
22    5383425
23    1360686
24    6220552
25    8530312
26      46343
27    1455390
28     781756
29    2598705

In [4]:
def foo(path):
    f = open(path)
    lines = [i.strip() for i in f.readlines()]
    return lines

In [5]:
first = '/Users/aneruthmohanasundaram/Documents'
second = '/GitHub/Data-Analytics/Practical Session 3/cropped/'
# third = [i for i in os.listdir(path='/Users/aneruthmohanasundaram/Documents/GitHub/Data-Analytics/Practical Session 3/cropped')]

In [51]:
for i in range(len(df['Subject_ID'])):
    if df['Subject_ID'][i] == '9961348':
        df['COUNT'][i] = len(foo('/Users/aneruthmohanasundaram/Documents/GitHub/Data-Analytics/Practical Session 3/cropped/9961348_cleaned_counts.out'))
        df['HEART_RATE'][i] = len(foo('/Users/aneruthmohanasundaram/Documents/GitHub/Data-Analytics/Practical Session 3/cropped/9961348_cleaned_hr.out'))
        df['MOTION'][i] = len(foo('/Users/aneruthmohanasundaram/Documents/GitHub/Data-Analytics/Practical Session 3/cropped/9961348_cleaned_motion.out'))
        df['PSG'][i] = len(foo('/Users/aneruthmohanasundaram/Documents/GitHub/Data-Analytics/Practical Session 3/cropped/9961348_cleaned_psg.out'))

In [17]:
#list the files
path='/Users/aneruthmohanasundaram/Documents/GitHub/Data-Analytics/Practical Session 3/cropped/'
all_files = glob.glob(os.path.join(path, "*.out"))
np_array_list = []
for file_ in all_files:
    df = pd.read_csv(file_,index_col=None, header=0)
    np_array_list.append(df.values())

comb_np_array = np.vstack(np_array_list)
big_frame = pd.DataFrame(comb_np_array)

big_frame.columns = ["SUBJECT_ID","HEART_RATE","COUNT","MOTION","PSG"]

TypeError: 'numpy.ndarray' object is not callable

In [87]:
# path =r'/Users/aneruthmohanasundaram/Documents/GitHub/Data-Analytics/Practical Session 3/cropped'
# filenames = glob.glob(path + "/*.out")

# dfs = []
# for filename in filenames:
#     dfs.append(pd.read_csv(filename))

# # Concatenate all data into one DataFrame
# big_frame = pd.concat(dfs, ignore_index=True)