In [5]:
#import libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [132]:
#connect to the MIMIC database using sqlite3 library.
con = sqlite3.connect('/Users/aneruthmohanasundaram/Documents/GitHub/Data-Analytics/Practical Session 2/Datasets/mimicdata.sqlite')

In [131]:
#list all the table names present in the database.
cursor = con.cursor()
columns = [col[0] for col in cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")]
print(columns)

['CHARTEVENTS', 'DIAGNOSES_ICD', 'D_ICD_DIAGNOSES', 'D_ITEMS', 'D_LABITEMS', 'ICUSTAYS', 'INPUTEVENTS_MV', 'LABEVENTS', 'OUTPUTEVENTS', 'PRESCRIPTIONS', 'PROCEDUREEVENTS_MV', 'TRANSFERS', 'ADMISSIONS', 'MICROBIOLOGYEVENTS', 'PATIENTS']

In [135]:
#choose two tables of your choice and find out for each of them, their corresponding column names and the number of records present.

# For Table 1
cursor.execute("SELECT * FROM DIAGNOSES_ICD")
table1 = cursor.fetchall()
print(f'Number of records present in table1 {len(table1)}')

# For Table 2
cursor.execute("SELECT * FROM ICUSTAYS")
table2 = cursor.fetchall()
print(f'Number of records present in table2 {len(table2)}')

Number of records present in table1 183
Number of records present in table2 11

In [136]:
#read these two tables into a dataframe.
query = """SELECT *
        FROM DIAGNOSES_ICD,ICUSTAYS """
df = pd.read_sql_query(query,con)

In [137]:
# To print dataframe head
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,379265,40004,121157,1,34591,41339,40004,121157,256307,metavision,MICU,MICU,50,50,2171-03-01 17:51:30,2171-03-05 18:28:23,4.0256
1,379265,40004,121157,1,34591,41347,40036,198489,285485,metavision,MSICU,MSICU,52,52,2141-08-01 23:48:48,2141-08-02 18:41:50,0.7868
2,379265,40004,121157,1,34591,41363,40080,162107,252522,metavision,MICU,MICU,23,23,2106-05-31 16:43:46,2106-06-05 13:18:50,4.8577
3,379265,40004,121157,1,34591,41365,40084,195762,264630,metavision,TSICU,TSICU,14,14,2173-01-31 22:11:54,2173-02-05 04:13:20,4.2510
4,379265,40004,121157,1,34591,41373,40116,157106,232646,metavision,MICU,MICU,23,23,2150-02-19 00:14:33,2150-02-25 17:03:04,6.7004

In [171]:
#display only the microbiology_events information for which a blood culture was performed.
query1 = """ SELECT * 
        FROM MICROBIOLOGYEVENTS 
        WHERE ORG_NAME IS NOT NULL"""
microbio = pd.read_sql_query(query1,con)
microbio[microbio['SPEC_TYPE_DESC'] == 'BLOOD CULTURE']

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,SPEC_ITEMID,SPEC_TYPE_DESC,ORG_ITEMID,ORG_NAME,ISOLATE_NUM,AB_ITEMID,AB_NAME,DILUTION_TEXT,DILUTION_COMPARISON,DILUTION_VALUE,INTERPRETATION
13,268050,40161,180396,2181-10-24 00:00:00,2181-10-24 18:10:00,70012,BLOOD CULTURE,80238,CLOSTRIDIUM SPECIES NOT C. PERFRINGENS OR C. S...,1,NaN,,,,NaN,
16,268847,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90012.0,GENTAMICIN,<=1,<=,1.0,S
17,268848,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90013.0,TOBRAMYCIN,<=1,<=,1.0,S
18,268849,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90017.0,CEFTAZIDIME,<=1,<=,1.0,S
19,268850,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90018.0,CEFTRIAXONE,<=1,<=,1.0,S
20,268851,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90019.0,CIPROFLOXACIN,<=0.25,<=,0.0,S
21,268852,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90022.0,AMPICILLIN/SULBACTAM,=>32,=>,32.0,R
22,268853,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90026.0,PIPERACILLIN/TAZO,=>128,=>,128.0,R
23,268854,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90028.0,CEFEPIME,<=1,<=,1.0,S
24,268855,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90005.0,CEFAZOLIN,=>64,=>,64.0,R
76,268557,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90008.0,TRIMETHOPRIM/SULFA,<=1,<=,1.0,S
77,268558,40161,180396,2181-11-23 00:00:00,2181-11-23 23:47:00,70012,BLOOD CULTURE,80005,KLEBSIELLA OXYTOCA,1,90029.0,MEROPENEM,<=0.25,<=,0.0,S
90,315552,40004,121157,2171-03-04 00:00:00,2171-03-04 21:12:00,70012,BLOOD CULTURE,80155,"STAPHYLOCOCCUS, COAGULASE NEGATIVE",1,NaN,,,,NaN,